<%= form_for @recipe do |f| %>
  <%= render 'partials/error_messages', :object => f.object %>
    
  <%= f.hidden_field :account_id, :value => current_user.account.id %>

  <fieldset>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :notes, "Notes" %>
    <%= f.text_field :notes %>
  </fieldset>

  <fieldset>
    <table>
      <caption>Ingredients <%= add_child_link "Add Ingredient", :ingredients %></caption>
      <thead>
        <tr>
          <th>Ingredient</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :ingredients do |builder| %>
          <%= render 'ingredient_fields', :f => builder %>
        <% end %>
      </tbody>
      <%= new_child_fields_template f, :ingredients, :partial => 'ingredient_fields' %>
    </table>
  </fieldset>
  <fieldset>
    <%= f.submit "Submit" %>
  </fieldset>
<% end %>