<section id="recipes">

  <div class="header">
    <h1><%= @recipe.name %> (<%= @recipe.id %>)</h1>
  </div>
  
  <p>Ingredients:</p>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.quantity %><%= ingredient.unit.abbreviation %> <%= ingredient.item.name %></li>
    <% end %>
  </ul>

  <p>
    <%= link_to "Edit", edit_recipe_path(@recipe) %> | 
    <%= link_to "Destroy", @recipe, :confirm => 'Are you sure?', :method => :delete %> | 
    <%= link_to "View All", recipes_path %>
  </p>

</section>