<section id="users">

  <div class="header">
    <h1>Edit User</h1>
  </div>

  <%= form_for @user do |f| %>
    <%= render 'partials/error_messages', :object => f.object %>

    <fieldset>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </fieldset>
    <fieldset>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </fieldset>
    <fieldset>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </fieldset>
    <fieldset>
      <%= f.submit "Submit" %>
    </fieldset>
  <% end %>

</section>