<section id="items">

  <div class="header">
    <h1>Item: <%= @item.name %></h1>
  </div>

  <p>Description: <%= @item.description %></p>

  <p>
    <%= link_to "Edit", edit_item_path %> | 
    <%= link_to 'New', items_new_path %> | 
    <%= link_to 'See All', items_path %>
  </p>

</section>