<header class="wrap">
  <!-- <%= link_to logo, root_path %> --> 
  <nav>
    <ul>
      <% if current_user %>
        <li>logged in as <%= current_user.email %></li>
      <% end %>
      <li><%= link_to "Home", root_url %></li>
      <% if current_user %>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Log out", logout_path %></li>
      <% else %>
        <li><%= link_to "Sign up", signup_path %></li>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>