<%= form_for @account do |f| %>
  <%= render 'partials/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :users do |user| %>
    
    <%= user.hidden_field :admin, :value => true %>
    <div class="field">
      <%= user.label :name %>
      <%= user.text_field :name %>
    </div>
    <div class="field">
      <%= user.label :email %>
      <%= user.text_field :email %>
    </div>
    <div class="field">
      <%= user.label :password %>
      <%= user.password_field :password %>
    </div>
    <div class="field">
      <%= user.label :password_confirmation, "Confirmation" %>
      <%= user.password_field :password_confirmation %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>