<section id="dashboard">

  <div class="header">
    <h1><%= @account.name %>'s Dashboard</h1>
  </div>

  <div class="overview">
    <h4>Users <%= link_to 'Add User', new_user_path %></h4>
    <ul>
      <% @account.users.each do |user| %>
        <li>
          <%= user.name %>
          <% if user == current_user %>
            <%= link_to "Edit", edit_user_path %>
          <% end %>
          <% if user == current_user || current_user.admin %>
            <%= link_to "Delete", user, :confirm => "Are you sure?", :method => :delete %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="overview">
    <h4>Recipes <%= link_to "Create New", new_recipe_path %></h4>
    <ul>
      <% @account.recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe %></li>
      <% end %>
    </ul>
  </div>

  <div class="overview">
    <h4>Items <%= link_to "Create New", new_item_path %></h4>
    <ul>
      <% @items.each do |item| %>
        <li><%= link_to item.name, item %></li>
      <% end %>
    </ul>
  </div>
  
</section>