<h1><%= @account.name.capitalize %>'s Dashboard</h1>

<div id="users">
  <h4>Users</h4>
  <ul>
    <% @account.users.each do |user| %>
      <li>
        <%= user.name %>
        <% if user == current_user %>
          <span><%= link_to "Edit", edit_user_path %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div id="recipes">
  <h4>Recipes</h4>
  <ul>
    <% @account.recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe %></li>
    <% end %>
  </ul>
  <span><%= link_to "New Recipe", new_recipe_path %></span>
</div>